@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
html,
body {
    background: #fff;
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

h6 {
    color: #000;
}

.uppernav {
    border-bottom: 1px solid #d1d0d0;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #555;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.topnav a:hover {
    color: #A42A2A;
}

.topnav .icon {
    display: none;
}

.login .fa {
    color: #010101;
    padding: 10px;
}

.logo {
    width: 115px;
}

.page ul li {
    list-style: none;
    display: inline-block;
}

#scrollUp {
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    background: #1a76d1;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #00000026;
}

#scrollUp:hover {
    background: #2C2D3F;
}


/*===================
	Start Header CSS 
=====================*/

.header {
    background-color: #fff;
    position: relative;
}

.header .navbar-collapse {
    padding: 0;
}


/* Topbar */

.header .topbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .top-link li {
    display: inline-block;
    margin-right: 15px;
}

.header .top-link li:last-child {
    margin-right: 0px;
}

.header .top-link li a {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 400;
}

.header .top-link li:hover a {
    color: #1A76D1;
}

.header .top-contact {
    float: right;
    line-height: 100px;
}

.header .top-contact .accountdropdown-content a {
    line-height: 0px;
}

.header .top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2C2D3F;
}

.header .top-contact li:last-child {
    margin-right: 0;
}

.header .top-contact li a {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.header .top-contact li a:hover {
    color: #6b1111;
}

.header .top-contact li i {
    color: #000;
    margin-right: 8px;
}

.accountdropbtn1 {
    background-color: #fff;
    border: none;
    color: #000;
}

.accountdropdown1 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #000;
}

.accountdropdown1-content {
    border-top: 3px solid #1A76D1;
    display: none;
    position: absolute;
    min-width: 160px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.accountdropdown1-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.accountdropdown1-content a:hover {
    background-color: #ddd;
}

.accountdropdown1:hover .accountdropdown1-content {
    display: block;
    z-index: 9999;
}

.header .accountdropdown1 {
    display: none;
}

.header .header-inner {
    background: #A5161C;
    z-index: 999;
}

.header .logo {
    float: left;
    margin: 10px;
}

.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 0px;
    min-height: 0px;
}

.header .nav li {
    margin-right: 15px;
    float: left;
    position: relative;
}

.header .nav li:last-child {
    margin: 0;
}

.header .nav li a {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
}

.header .nav li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #1A76D1;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header .nav li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav li.active a {
    color: #1A76D1;
}

.header .nav li:hover a:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav li:hover a {
    color: #1a76d1;
}

.header .nav li a i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}


/* Middle Header */

.header.style2 .logo {
    margin-top: 6px;
}

.header .middle-header {
    background: #fff;
    padding: 20px 0px;
}

.header .widget-main {
    float: right;
}

.header.style2 .get-quote {
    margin-top: 0;
}

.header .single-widget {
    position: relative;
    float: left;
    margin-right: 30px;
    padding-left: 55px;
}

.header .single-widget:last-child {
    margin: 0;
}

.header .single-widget i {
    position: absolute;
    left: 0;
    top: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    background: #1A76D1;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.header .single-widget h4 {
    font-size: 15px;
    font-weight: 500;
}

.header .single-widget p {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header .single-widget.btn {
    margin-left: 0;
}


/* Dropdown Menu */

.header .nav li .dropdown {
    background: #fff;
    width: 220px;
    position: absolute;
    left: -20px;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    transform-origin: 0 0 0;
    transform: scaleY(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    top: 74px;
    border-left: 3px solid #2889e4;
}

.header .nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .nav li .dropdown li {
    float: none;
    margin: 0;
    border-bottom: 1px dashed #eee;
}

.header .nav li .dropdown li:last-child {
    border: none;
}

.header .nav li .dropdown li a {
    padding: 12px 15px;
    color: #666;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .nav li .dropdown li a:before {
    display: none;
}

.header .nav li .dropdown li:last-child a {
    border-bottom: 0px;
}

.header .nav li .dropdown li:hover a {
    color: #1A76D1;
}

.header .nav li .dropdown li a:hover {
    border-color: transparent;
}


/* Right Bar */

.header.style2 .main-menu {
    display: inline-block;
    float: left;
}

.header .right-bar {
    float: right;
}

.header .right-bar {
    padding-top: 20px;
}

.header .right-bar {
    display: inline-block;
}

.header .right-bar a {
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #1a76d1;
    border-radius: 4px;
    display: block;
    font-size: 12px;
}

.header .right-bar li a:hover {
    color: #fff;
    background: #27AE60;
}


/* Header Sticky */

.header.sticky .header-inner {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background: #A5161C;
    bottom: initial;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    animation: fadeInDown 0.5s both 0.1s;
    box-shadow: 0px 0px 13px #00000054;
}


/*=========================
	End Header CSS
===========================*/


/*===========================
	Start Hero Area CSS
=============================*/

.slider .single-slider {
    height: 450px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider .single-slider .text {
    margin-top: 60%;
    background: rgba(0, 0, 0, 0.514);
    color: #fff;
    padding: 15px;
}

.slider.index2 .single-slider .text {
    margin-bottom: 20%;
}

.slider .single-slider h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.slider .single-slider h1 span {
    color: #721217;
}

.slider .single-slider p {
    color: #fff;
    margin-top: 27px;
    font-weight: 400;
}

.slider .single-slider .button {
    margin-top: 30px;
}

.slider .single-slider .btn {
    color: #fff;
    background: #1a76d1;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.slider .single-slider .btn:last-child {
    margin: 0;
}

.slider .single-slider .btn.primary {
    background: #2C2D3F;
    color: #fff;
}

.slider .single-slider .btn.primary:before {
    background: #1A76D1;
}

.slider .owl-carousel .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

.slider .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(71, 69, 69, 0.442);
    color: #fff;
    font-size: 26px;
    position: absolute;
    margin: 0;
    -webkit-transition: ;
    -moz-transition: ;
    transition: all 0.4s ease;
    padding: 0;
    border-radius: 50%;
    display: none;
    transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}

.slider:hover .owl-carousel .owl-nav div {
    display: block
}

.slider .owl-carousel .owl-nav div:hover {
    background: #2C2D3F;
    color: #fff;
}

.slider .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 20px;
}

.slider .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 20px;
}


/* Slider Animation */

.owl-item.active .single-slider h1 {
    animation: fadeInUp 1s both 0.6s;
}

.owl-item.active .single-slider p {
    animation: fadeInUp 1s both 1s;
}

.owl-item.active .single-slider .button {
    animation: fadeInDown 1s both 1.5s;
}


/* meganavbar */

.meganavbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.megadropdown {
    float: left;
    overflow: hidden;
}

.megadropdown .megadropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    font: inherit;
    background: #007bff;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.megadropdown .megadropbtn span {
    padding-left: 5px;
    font-weight: 500;
}

.megadropdown-content {
    display: none;
    position: absolute;
    border-top: 3px solid #1A76D1;
    background-color: #fff;
    width: 80%;
    left: 0;
    box-shadow: 5px 10px 18px #888888;
    z-index: 9999;
}

.megadropdown:hover .megadropdown-content {
    display: block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    background-color: #fff;
    height: 100%;
}

.column a {
    float: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}


/* dropdown account */

.accountdropbtn {
    background-color: #fff;
    border: none;
}

.accountdropdown {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.accountdropdown-content {
    border-top: 3px solid #1A76D1;
    display: none;
    position: absolute;
    min-width: 160px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.accountdropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.accountdropdown-content a:hover {
    background-color: #ddd;
}

.accountdropdown:hover .accountdropdown-content {
    display: block;
    z-index: 9999;
}


/* search */

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 5%;
    margin-left: 33%;
    background: #eee;
    padding: 5px 6px;
}

.dropdowntoggle {
    background: #fff;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 16px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #A5161C;
    background: #A5161C;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/* gallery */

.galleryowl {
    height: 300px;
    width: 100%;
}

.galleryowl .item {
    height: 200px;
    width: 200px;
}

.featureproduct a {
    color: white;
    font-weight: 500;
    padding: 8px;
    background: brown;
    text-decoration: none;
    margin-bottom: 8px;
}


/* owl carousel 1 */

.btn-rs {
    margin-top: 10px;
    color: #fff;
    background: #1A76D1;
    padding: 5px 15px 5px 15px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn-rs1 {
    color: #fff;
    background: #1A76D1;
    padding: 5px 15px 5px 15px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.products-single .box-img-hover {
    overflow: hidden;
    position: relative;
}

.box-img-hover img {
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 200px;
    width: 100%;
}

.type-lb {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 8;
}

.type-lb .sale {
    background: red;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.type-lb .new {
    background: #010101;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.why-text {
    background: #f5f5f5;
    padding: 15px;
}

.why-text h4 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

.why-text h5 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    font-weight: 600;
}

.mask-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.mask-icon ul {
    display: inline-block;
    margin-left: -40px;
    float: left;
}

.mask-icon ul li {
    background: #000;
    list-style: none;
}

.mask-icon ul li a {
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}

.mask-icon a.cart {
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}

.mask-icon a.cart:hover {
    background: #BF7F49;
    color: #ffffff;
}

.mask-icon ul li a:hover {
    background: #BF7F49;
    color: #ffffff;
}

.products-single .mask-icon {
    background: rgba(1, 1, 1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}

.products-single:hover .mask-icon {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}

@keyframes bounceY {
    0% {
        transform: translateY(-205px);
    }
    40% {
        transform: translateY(-100px);
    }
    65% {
        transform: translateY(-52px);
    }
    82% {
        transform: translateY(-25px);
    }
    92% {
        transform: translateY(-12px);
    }
    55%,
    75%,
    87%,
    97%,
    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
    }
    40% {
        -moz-transform: translateY(-100px);
    }
    65% {
        -moz-transform: translateY(-52px);
    }
    82% {
        -moz-transform: translateY(-25px);
    }
    92% {
        -moz-transform: translateY(-12px);
    }
    55%,
    75%,
    87%,
    97%,
    100% {
        -moz-transform: translateY(0px);
    }
}

@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
    }
    40% {
        -webkit-transform: translateY(-100px);
    }
    65% {
        -webkit-transform: translateY(-52px);
    }
    82% {
        -webkit-transform: translateY(-25px);
    }
    92% {
        -webkit-transform: translateY(-12px);
    }
    55%,
    75%,
    87%,
    97%,
    100% {
        -webkit-transform: translateY(0px);
    }
}

.featurediv:first-child {
    margin-top: 25px;
}

.featurediv {
    text-align: center;
    padding: 5px 0;
    margin: 0 10%;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, 0.687);
}


/* manyimagestext */

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 1220px;
    margin-bottom: 15px;
}

.flex-item {
    height: 120px;
    width: 345px;
    margin: 3px;
    padding: 10px 0 0 10px;
    padding: 10px;
    margin: 20px 0 0 20px;
    background: #fff;
}

.flex-item img {
    height: 100px;
    width: 100px;
    float: left;
    object-fit: cover;
    align-self: flex-start;
}

.info-container {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-item a {
    padding: 0;
    margin: 0 0 5px;
    color: #000;
    text-align: justify;
    text-justify: auto;
    flex: 1 1 auto;
    font-weight: 500;
}


/* footer */


/* overlay */

.galleryt a {
    color: white;
    font-weight: 500;
    padding: 8px;
    background: brown;
    text-decoration: none;
    margin-bottom: 8px;
}

.containeroverlay {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
}

.containeroverlay .image {
    display: block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
}

.containeroverlay:hover .image {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.containeroverlay .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #A5161C;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}


/* When you mouse over the container, fade in the overlay title */

.containeroverlay:hover .overlay {
    opacity: 1;
}


/* carousel */

.carousel-item img {
    width: 110%;
    height: 350px;
}


/* bottom to top */

.to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 30px;
    height: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    color: #A5161C;
    -moz-text-decoration-line: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    text-decoration: none;
}

.to-top .fa {
    padding-top: -5px;
}


/* sidenav */

#mySidenav a {
    position: fixed;
    left: -10px;
    transition: 0.3s;
    padding: 3px;
    width: 50px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
}

#mySidenav {
    float: right;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 312px;
    background: #1BD741;
}

#about img {
    width: 40px;
    margin-left: 7px;
}

#blog {
    top: 355px;
    background-color: #794F99;
}

#blog img {
    width: 40px;
    margin-left: 7px;
}

#projects {
    top: 400px;
    background-color: #00AFF0;
    /* Red */
}

#projects img {
    margin-left: 7px;
    width: 40px;
}


/* endsidenav */

.page {
    display: block;
    border: 1px solid #ececec;
    border-radius: 3px;
    background: #fff;
    border-top: 4px solid #A5161C;
    padding: 35px 25px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}

.button {
    color: white;
    background: #A5161C;
}

h5 {
    color: #A5161C;
    font-weight: 400;
}

em {
    float: right;
    font-style: normal;
    color: #eb340a;
    top: 0;
}

.text-register {
    min-height: 275px;
}


/* product */

ul.breadcrumb {
    padding: 8px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.pagination .page-item a {
    font-size: 14px;
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.tab-button {
    padding: 10px;
    border: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    border-top: 4px #ce9560;
    background: rgb(207, 205, 205);
}

.tab-container {
    padding: 37px 15px;
    border: 1px solid #eee;
    min-height: 200px;
    border-radius: 0 0 3px 3px;
    box-shadow: 2px 2px 1px 2px #eee;
    background-color: #fff;
}

.form-group {
    line-height: 12px;
    padding: 10px;
}


/* hislide */

.navfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px red;
    background: #fff;
    display: flex;
    overflow: hidden;
}

.nav__link {
    display: inline-block;
    flex-grow: 1;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    color: #000000;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

.nav__link:hover {
    background: #eeeeee;
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    .navfooter {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .navfooter {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navfooter {
        display: none;
    }
    .customer {
        display: none;
    }
    .containeroverlay {
        position: relative;
        width: 170px;
        height: 150px;
        overflow: hidden;
        margin: 0px;
        padding: 5px;
    }
}


/* support */

.support {
    background: #fff;
    padding: 20px;
    color: black;
}

.support img {
    height: 55px;
}


/* cart */

.long-text {
    margin-top: 15px;
    color: black;
    padding: 15px;
    background: #fff;
}

.cart {
    background: #007bff;
    padding: 10px;
}

.cart .fa {
    color: #fff;
}

.param {
    margin-bottom: 7px;
    line-height: 1.4;
}

.param-inline dt {
    display: inline-block;
}

.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}

.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
}

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}

.media img {
    margin-right: 1rem;
}

.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}


/* flag */

.lang-menu {
    position: relative;
}

.select-lang {
    cursor: pointer;
    display: inline-flex;
}

.select-lang:before {
    content: '';
    display: block;
    width: 35px;
    height: 30px;
    background: url("https://www.countryflags.io/us/flat/32.png");
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    background: #fff;
    top: 30px;
    right: 5px;
    z-index: 9999;
    border-top: 4px solid #1A76D1;
}

.lang-menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    width: 125px;
    display: block;
    padding: 5px 10px;
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    z-index: 9999;
}

.lang-menu ul li a:hover {
    background: #cbc9c9;
    color: #000;
    text-decoration: none;
}

.ge:before {
    background: url("https://www.countryflags.io/np/flat/32.png");
}

.us:before {
    background: url("https://www.countryflags.io/us/flat/32.png");
}

.au:before {
    background: url("https://www.countryflags.io/au/flat/32.png");
}

.rs:before {
    background: url("https://www.countryflags.io/rs/flat/32.png");
}

.lang-menu:hover ul {
    display: block;
}

.language ul li {
    display: inline-block;
}


/* sidebar */

.menu-side {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    padding: 14px;
    border: 1px solid #eee;
    margin-top: 10px;
}

.menu-side img {
    width: 20px;
    height: 20px;
}

.menu-side li .fa {
    color: #111;
    float: right;
}

.menu-side a,
.menu-side a:link,
.menu-side a:visited,
.menu-side a:focus {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
}

.menu-side a:hover {
    color: #227087;
    text-decoration: none;
}

.menu-side>li {
    display: block;
    padding: 6px;
    border-bottom: 1px solid #eee;
}

.menu-side>li:hover>a {
    color: #4e0b0b;
    font-weight: bold;
}

.menu-side>li:hover {
    background-color: #fff;
}


/* Megadrop width dropdown */

.menu-side>li>.megadrop-side {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 250px;
    width: 800px;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    box-shadow: 5px 10px 18px #888888;
    z-index: 99;
    background: #fff;
    overflow: hidden;
}

.menu-side>li:hover .megadrop-side {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.menu-side ul li:hover:after {
    color: #227087;
}

.menu-side .col {
    width: 30%;
    float: left;
    color: white;
    margin: 0 0 0 2.2%;
}

.menu-side .col ul {
    padding: 0;
    margin: 0;
}

.menu-side .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}

.menu-side .col strong {
    font-size: 12px;
    padding: 10px 10px 7px 0;
    font-weight: bold;
    margin: 5px 5px 5px 0;
    border-bottom: 1px solid #bebebe;
    color: #000;
    text-transform: uppercase;
    -webkit-transform: uppercase;
    -moz-transform: uppercase;
    -ms-transform: uppercase;
    -o-transform: uppercase;
}

.menu-side .col ul li a {
    display: block;
    padding: 10px 0 10px 0;
    color: #000;
}

.menu-side .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}

.menu-side>li>ul li ul,
.menu-side li>ul li,
.menu-side>li>.megadrop-side,
.menu-side>li>ul,
.menu-side>li {
    padding-top: 10px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}


/* product */


/* tabs */

nav>.nav.nav-tabs {
    border: none;
    color: #000;
    border-radius: 0;
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    /* border: none; */
    padding: 10px 15px;
    color: #000;
    border-radius: 0;
    font-weight: bold;
}

nav>div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -46px;
    left: -20%;
    border: 15px solid transparent;
    border-top-color: #e74c3c;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border: none;
    background: #e74c3c;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}


/* felt */

.felt {
    padding: 10px;
    border: 1px solid #eee;
    height: 100%;
}

.textdiv {
    width: 65%;
}

.felt img {
    width: 75px;
    padding-top: 25px;
    height: 100px;
    margin-left: 5px;
}

.textdiv ul li {
    text-decoration: none;
    list-style: none;
}

.textdiv ul li a {
    color: #141414;
    font-size: 14px;
}


/* boxes */

.box {
    display: inline-block;
    height: 100%;
    margin: 10px;
    width: 100%;
    border: 1px solid #eee;
}

.box img {
    width: 100px;
}

.box-text {
    border-top: 1px solid #eee;
    padding: 10px;
}

.box a {
    color: #010101;
    font-weight: 500;
}

.box strong {
    color: #A5161C;
}

.box .owl-carousel .owl-theme {
    display: inline-block !important;
}

.itemseller {
    width: 205px;
    /* display: flex; */
    display: inline-block;
}

.itemseller img {
    width: 100%;
    height: 203px;
}

.adsattr {
    position: relative;
    background: #A5161C;
    color: #fff;
}

.adsattr img {
    width: 250px;
    margin: 10px 10px 10px 0;
    float: left;
}

.adsattr .content {
    display: inline;
}

.adsattr .content h4 {
    padding: 25px;
}

.marqueset {
    background: #A5161C;
}

marquee p {
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px;
}


/* footer */

footer h4 {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 500;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #010101;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    padding: 5px;
}

footer a {
    color: #A5161C;
    font-weight: bold;
}

footer.footerup ul li {
    list-style: none;
}

.btn-email {
    background: #A5161C;
    color: #fff;
    border: none;
    padding: 10px;
}

.footer-last {
    background: #111;
    padding: 20px;
    color: #fff;
}

.footer-last p,
h3 {
    padding: 15px;
}

.footer-last ul li {
    list-style: none;
}

.footer-last ul li .fa {
    padding: 10px;
    font-size: 17px;
}

.copy {
    color: #fff;
    background: #010101;
}

.copy label {
    padding: 10px;
}

.imagemain {
    padding: 15px;
}

.accountsection {
    padding: 10px;
}

.accountsection a {
    color: #fff;
}

.back {
    padding-top: 10px;
}

.back a {
    color: #fff;
    background: #007BFF;
}

.sidecontent {
    border-left: 1px solid #000;
}

.sidecontent button,
h1 {
    margin: 30px;
}

.sidecontent .signme {
    background: crimson;
    color: #fff;
}

.wholecontent h4 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 25px;
}

.sidewholesale {
    background: crimson;
    color: #fff;
    padding: 20px;
    margin-top: 5px;
}

.adsbags {
    background: #879FFF;
    padding: 20px;
    color: #fff;
}

.adsbagsside {
    background: #a5161d8b;
    padding: 20px;
    color: #fff;
}

.btnshop {
    background: #a5161d8b;
    color: #fff;
}

.btnhemp {
    background: #879FFF;
    color: #fff;
}


/* view */

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 400px;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
    border: 1px solid red;
    cursor: pointer;
    height: 100px;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}